<%- include("header") -%>

<div class="box" id="heading">
    <h1>This is the about page</h1>
</div>
<div class="box" style="max-width: 1000px;">
    <p>I am a BTech student pursuing a Computer Science degree at SRM Institute Of Technology. As I travelled a lot as a kid, I was exposed to a lot of different cultures and individuals. As a result, I'm able to swiftly adapt to changes and see things from a different viewpoint. My goal is to gain knowledge and implement my abilities in the most effective way possible via teamwork, so that I may improve my skills in line with current trends through hard effort and dedication.</p>
</div>
<div class="box" style="max-width: 165px;">
    <a href="https://github.com/aryanverma7" title="Github account of Aryan Verma"><i class="fa-brands fa-github fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/aryverma/" title="Linkedin Profile of Aryan Verma"><i class="fa-brands fa-linkedin-in fa-2x"></i></a>
    <a href="https://aryanverma7.github.io/Portfolio/" title="Instagram profile of Aryan Verma"><i class="fa-brands fa-internet-explorer fa-2x"></i></a>
  </div>

<%- include("footer") -%>
